body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Noto Sans, sans-serif;
    /* Add font family */
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

.intro {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

.intro-text {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.description {
    display: flex;
    color: #E5E7EB;
    padding: 10px;
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.information-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-section {
    display: flex;
    justify-content: space-around;
    padding: 32px;
    flex: 1;
    text-align: center;
    padding-left: 450px;
    padding-right: 450px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
    border: 2px solid #6db2eb;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 150px;
    height: 150px;
}

.card-text {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 450px;
    padding-right: 450px;
}

.quote-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
    padding: 5px;
}

.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
}

.action-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px;
}

.action-title {
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
    font-weight:bold;
}

.action-button {
    display: flex;
    justify-content: flex-end;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}